@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
}

div {
	display: block;
}

html {
	scroll-behavior: smooth;
}

/* ROOT */
:root {
	--white: #ffffff;
	--black: #303841;
	--gray: #777777;
	--yellow: #f6c90e;
}

p {
	color: var(--black);
	font-family: 'Rubik', sans-serif;
}

.h4,
.h5 {
	font-weight: 700;
}

.active {
	display: none;
}

.scale1 {
	transform: scale(0.8);
}

.scale2 {
	transform: scale(0.5);
}

.scale3 {
	transform: scale(0.2);
}

.btn-warning {
	background-color: var(--yellow);
	margin-right: 5px;
}

.btn-light {
	background-color: #e2e6ea;
}

.btn-light:hover {
	background-color: #bdbfc2;
}

.box-shadow-hover:hover {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
	display: none;
}

.main {
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: var(--white);
	overflow: hidden;
}

.main::before {
	position: absolute;
	content: '';
	height: 100%;
	width: 300%;
	top: 50%;
	left: -20%;
	border-radius: 100%;
	transform: translateX(-50%) skewY(-8deg);
	background-color: var(--yellow);
	animation: wave 20s infinite ease-in-out;
}

.container {
	max-width: 800px;
	gap: 40px;
}

.card {
	background-color: var(--white);
	box-sizing: border-box;
	width: 360px;
	height: 600px;
	box-shadow: 0 3.2px 2.2px rgb(0 0 0 / 2%), 0 7px 5.4px rgb(0 0 0 / 3%), 0 12.1px 10.1px rgb(0 0 0 / 4%), 0 19.8px 18.1px rgb(0 0 0 / 4%), 0 34.7px 33.8px rgb(0 0 0 / 5%), 0 81px 81px rgb(0 0 0 / 7%);
	border-radius: 30px;
	overflow: hidden;
	padding: 0 28px;
	position: relative;
	margin-bottom: 20px;
}

.card:before {
	content: '';
	display: block;
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	background-color: #f6c90e;
	top: -20%;
	left: -50%;
	z-index: 0;
	animation: float 8s infinite linear;
}

/* CARD SHOPPING LIST */
.card-top {
	margin: 0.75em 0;
	z-index: 1;
}

.card-title {
	z-index: 1;
}

.card-body {
	position: relative;
	padding: 0;
	overflow-y: scroll;
	z-index: 1;
}

.card-body .items-container .item-detail {
	padding: 40px 0;
}

.card-body .item-img {
	border-radius: 30px;
	height: 380px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.card-body .item-img img {
	display: block;
	width: 100%;
	filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
	transform: rotate(-24deg);
	margin-left: -16px;
}

.card-body .item-name {
	margin: 1em 0;
}

.card-body .item-describe {
	font-size: 13px;
	color: var(--gray);
	line-height: 1.8;
	margin-bottom: 1em;
}

.card-body .item-bottom {
	margin: 1em 0;
}

.card-body .item-bottom .btn {
	border-radius: 50px;
	padding: 0;
}

.card-body .item-bottom .btn p {
	margin: 0.75em 1em;
	font-size: 14px;
	font-weight: 700;
}

/* CARD CART LIST */
.cart-item {
	padding: 40px 0;
}

.cart-item .cart-item-left .cart-item-img {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	margin-right: 34px;
}

.cart-item .cart-item-left img {
	display: block;
	width: 130px;
	transform: rotate(-28deg) translateY(-45px);
	filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
}

.cart-item .cart-item-right {
	flex: 1;
}

.cart-item .cart-item-right .cart-item-name .h5 {
	font-size: 14px;
}

.cart-item .cart-item-right .cart-item-price .h5 {
	font-size: 24px;
}

.cart-item .cart-item-right .cart-item-bottom {
	margin-top: 1em;
}

.cart-item .cart-item-right .cart-item-bottom .btn-light,
.cart-item .cart-item-right .cart-item-bottom .btn-warning {
	padding: 0;
	width: 25px;
	height: 25px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-item .cart-item-right .cart-item-bottom .cart-item-countnumber {
	margin: 0 5px;
}

/* Animation */
@keyframes wave {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, 150px);
	}
	to {
		transform: translate(0, -0px);
	}
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

@media (max-width: 767.98px) {
	.main {
		overflow-y: scroll;
	}
	.card:first-child {
		height: 100%;
		width: 100vw;
		margin-top: 20px;
	}
	.card:last-child {
		width: 100vw;
	}
	.container {
		height: 100%;
		flex-wrap: wrap;
		gap: 0;
	}
}
